@import "toolkit";

.body {
  padding-bottom: 70px;
  position: relative;
}

.users {
  .userInner {
    display: block;
    height: 64px;
    line-height: 64px;
    padding: 0 15px;
    border-bottom: 1px rgba(0, 0, 0, $dark-divider-opacity) solid;
    font-size: 12px;
    position: relative;
    :hover {
      opacity: .8;
    }

    > * + * {
      margin-left: 10px;
    }
  }

  input {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    width: 200px;
    padding: 0 10px;
    border: 1px #ddd solid;
    box-shadow: 0 1px 0 darken(#ddd, 10%) inset;
    border-radius: 2px;
  }

  select {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 20px 0 10px;
    background: #fff;
    border: 1px #ddd solid;
    box-shadow: 0 1px 0 darken(#ddd, 10%) inset;
    border-radius: 2px;
  }

  .save {@include btn($btn-s, $btn-primary);}
  .cancel {@include btn($btn-s, $btn-default);}
  .delete {@include btn($btn-s, $btn-danger);}

  .deleteWrapper {
    display: inline-block;
    height: 65px;
    position: absolute;
    right: 30px;
    top: 0;
  }
}

.name {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  width: 200px;
  padding: 0 11px;
  font-size: 12px;
  color: $paper-grey-900;
  font-weight: normal;
  box-sizing: border-box;
}

.companyName {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  padding: 0 11px;
  color: $paper-grey-900;
  font-size: 12px;
  box-sizing: border-box;
}

.button {
  display: inline-block;
  padding: 8px 20px;
  border-radius: 4px;
  border: 1px #999 solid;
  color: #444;
  background: #fafafa;
  font-size: 16px;
}

.form {
  height: 65px;
  line-height: 65px;
  background: $paper-grey-300;
  box-shadow: 0 3px 0 $paper-grey-400;
  text-align: center;

  > * + * {
    margin-left: 15px;
  }

  a {
    @include btn();
  }

  input {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 400px;
    padding: 0 10px;
    border: 1px #ddd solid;
    box-shadow: 0 3px 0 darken(#ddd, 10%) inset;
    border-radius: 4px;
  }

  select {
    appearance: button;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 20px 0 10px;
    background: #fff;
    border: 1px #ddd solid;
    box-shadow: 0 3px 0 darken(#ddd, 10%) inset;
    border-radius: 4px;

  }

}



