@import "toolkit";

.body {
  padding-bottom: 70px;
  position: relative;
}

.users {
  .userInner {
    display: block;
    height: 64px;
    line-height: 64px;
    padding: 0 15px;
    border-bottom: 1px $border-color solid;
    font-size: 12px;
    :hover {
      opacity: .8;
    }

    > * + * {
      margin-left: 10px;
    }
  }

  li:last-child a {
    border-bottom: 1px #ddd solid;
  }

  input {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    width: 200px;
    padding: 0 10px;
    border: 1px #ddd solid;
    box-shadow: 0 1px 0 darken(#ddd, 10%) inset;
    border-radius: 2px;
  }

  select {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    background: #fff;
    border: 1px #ddd solid;
    box-shadow: 0 1px 0 darken(#ddd, 10%) inset;
    border-radius: 2px;
  }

  .save {@include btn($btn-xs, $btn-primary);}
  .cancel {@include btn($btn-xs, $btn-default);}
  .delete {@include btn($btn-xs, $btn-danger);}
}

.name {
  display: inline-block;
  width: 200px;
  color: $paper-grey-700;
}

.userId {
  color: $paper-grey-500;
}

.button {
  display: inline-block;
  padding: 8px 20px;
  border-radius: 4px;
  border: 1px #999 solid;
  color: #444;
  background: #fafafa;
  font-size: 16px;
}

.form {
  height: 65px;
  line-height: 65px;
  background: $paper-grey-300;
  box-shadow: 0 3px 0 $paper-grey-400;
  text-align: center;

  > * + * {
    margin-left: 15px;
  }

  a {
    @include btn();
  }

  input {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 400px;
    padding: 0 10px;
    border: 1px #ddd solid;
    box-shadow: 0 3px 0 darken(#ddd, 10%) inset;
    border-radius: 4px;
  }

  select {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    background: #fff;
    border: 1px #ddd solid;
    box-shadow: 0 3px 0 darken(#ddd, 10%) inset;
    border-radius: 4px;
  }

}



