@import "toolkit";

.body {
  font-size: 16px;
}

.header {
  padding: 20px 30px 15px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQUlEQVQYV2Nk2L/0PwNh0MBIhMIGBgYGggrBikAW4jMRrgifQhRFuBRiKMKmEKsidIU4FSErxKsIprAeFgT4wh0AyvEgaXuT+5QAAAAASUVORK5CYII=) repeat;
  box-shadow: 0 4px 0 darken($paper-teal-a700, 4%);
  overflow: hidden;
}

.logo {
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  a {
    color: #fff;
    text-shadow: 0 -1px 0 darken($paper-teal-300, 10%),0 1px 0 lighten($paper-teal-300, 10%);
    &:hover {
      opacity: 0.8;
    }
  }
}

.menu {
  display: inline-block;
  float: right;
  font-size: 16px;
  padding: 0 20px;
  text-shadow: 0 -1px 0 darken($paper-teal-300, 10%),0 1px 0 lighten($paper-teal-300, 10%);

  li {
    display: inline-block;
    height: 45px;
    line-height: 45px;
  }

  li + li {
    margin-left: 20px;
  }

  a {
    font-weight: bold;
    color: $paper-grey-50;
    &:hover {
      opacity: 0.8;
    }
  }
}

.content {
  margin-top: 4px;
}
